.ct-section,
.ct-columns,
.ct-widget,
.ct-span,
.ct-shortcode,
.ct-separator,
.ct-selector,
.ct-reusable,
.ct-inner-content,
.ct-code-block,
.ct-li,
.ct-ul,
.ct-svg-icon,
.ct-image,
.ct-link,
.ct-link-text,
.ct-paragraph p,
.ct-text-block,
.ct-headline,
.ct-div-block,
.ct-column,
.ct-columns {
	background-size: initial;
	background-repeat: initial;
	margin-top: initial;
	margin-right: initial;
	margin-bottom: initial;
	margin-left: initial;
	padding-top: initial;
	padding-right: initial;
	padding-bottom: initial;
	padding-left: initial;
	float: initial;
	overflow: initial;
	visibility: initial;
	display: initial;
	clear: initial;
	position: initial;
	font-family: initial;
	font-weight: initial;
	font-style: initial;
	direction: initial;
	list-style-type: initial;
	text-decoration: initial;
	text-transform: initial;
	border-top-width: initial;
	border-top-style: initial;
	border-right-width: initial;
	border-right-style: initial;
	border-bottom-width: initial;
	border-bottom-style: initial;
	border-left-width: initial;
	border-left-style: none;
	border-top-right-radius: initial;
	border-top-left-radius: initial;
	border-bottom-right-radius: initial;
	border-bottom-left-radius: initial;
}